
// TODO: FUTURE DEVELOPMENT, IMPORTS FOR SCSS FILES FROM OTHER FEATURES
// @import '../features/'

@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");

$lightgray: #898990;

.container-full {
  margin: 0 auto;
  width: 100%;
}

.header-bar {
  background-color: $lightgray;
  color: white;
  h2 {
    margin: 0 auto;
    text-align: center;
  }
}
