<!doctype html>
<html class="no-js" ng-app="selfTalkApp">
  <head>
    <meta charset="utf-8">
    <title>Self-Talk</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="/src/css/mobile.css">
  </head>

  <body>

    <div class="selfTalkAppContainer container-full">
      <div ui-view="header" role="banner" class="mainHeader"></div>
      <div ui-view="" class="mainContent container-fluid"></div>
    </div>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script type="text/javascript" src="/src/js/src.js"></script>
  </body>

</html>
